@tailwind base;
@tailwind components;
@tailwind utilities;
$yellowCer: rgb(248, 179, 50);
$redCer: rgb(232, 80, 31);
$blueCer: rgb(24, 160, 150);
$greyCer: rgb(75, 75, 77);
$yellow: rgb(255, 255, 0);

.slide-menu {
    position: fixed;
    top: 170px;
    right: 0;
    height: 100%;
    width: 300px;
    padding-top: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    z-index: 1000;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light {
    background-color: white;
    color: $greyCer;
}

.dark {
    background-color: $greyCer;
    color: white;
}

.slide-menu > p {
    background-color: grey;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.slide-menu-enter {
    transform: translateX(100%);
}

.slide-menu-enter-active {
    transform: translateX(0);
    transition: transform 200ms;
}

.slide-menu-exit {
    transform: translateX(0);
}

.slide-menu-exit-active {
    transform: translateX(100%);
    transition: transform 200ms;
}

.toggleDarkMode {
    display: flex;
    align-items: center;
    position: fixed;
    top: 93%;
    right: 80px;
}